extends ../layout

//- Get a content from layout page
block body_Content

    //- get header from partials directory
    include ../partials/header
    +header 

    //- get inscription page from inscrition directory
    include components/inscription
    +inscription_component

    //- get footer from partials directory
    include ../partials/footer
    +footer