// ------- variables
$header_color: rgba(36, 44, 65, 1);

// ------- add logo scss ----------
.logo {

    flex: 0.5;
    display: flex;
    padding: 0px;
    margin: 0px;
    background: $header_color;

    img {
        width: 127.997px;
        height: 86.73px;
    }

}