    // colors variables 
    $header_color: rgba(36, 44, 65, 1);
    $red_color: rgba(231, 54, 72, 1);
    $item_color: rgba(232, 232, 232, 1);


    // font family
    $font_Family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

    // police size
    $size14: 14px;
    $size16: 16px;
    $size24: 24px;

    // all pages
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        border: none;
        text-decoration: none;
        list-style: none;
    }

    // body
    body {
        font-family: $font_Family;
    }

    // header
    header {
        position: fixed;
        top: 0;
        right: 0;
        width: 100%;
        height: 153px;
        z-index: 1000;
        display: flex;
        background: $header_color;

        // logo
        .logo {

            flex: 0.5;
            display: flex;
            padding: 20px;
            margin: 0px;

            img {
                width: 127.997px;
                height: 86.73px;
            }

        }

        // menu
        nav {
            flex: 0.3;

            .menu {
                padding: 0px;
                margin: 0px;

                ul {
                    list-style: none;
                    text-align: left;

                    li {
                        display: inline-block;

                        a {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            color: $item_color;
                            font-size: $size14;
                            padding: 15px 40px 15px 40px;
                            margin: 20px;

                        }

                        &.active {
                            a {
                                background: $red_color;
                                font-weight: bold;
                                padding: 15px 40px 15px 40px;
                                
                            }
                        }

                        a:hover {
                            background: $red_color;
                            font-weight: bold;
                            padding: 15px 40px 15px 40px;
                            

                        }
                    }
                }
            }
        }
    }